.sw[op]
.*.sw[op]
*.pyc
*.iml

# Ignore setup.py artifacts
build/
dist/
sdist/
smartsheet*.egg-info/

# Ignore SDK reference docs artifacts
gh-pages/
docs-source/_build/
docs-source/_static/

# Ignore the test cases log files
*.log

# Ignore setuptools_scm-generated version.py
smartsheet/version.py

# ignore PyCharm files
.pydevproject
.project
.idea/*
.eggs/*
.cache/*
.pytest_cache/*

# ignore VSCode files
.vscode/*

# ignore ugly batch files
*.bat
